
<div class="mud-paper mud-elevation-1 mud-card" style="">
  <div class="mud-card-header">
    <div class="mud-card-header-content">
      <h6 class="mud-typography mud-typography-h6 mud-inherit-text">Thopdev</h6>
    </div>
    <div class="mud-card-header-actions">
      <button blazor:onclick="1" type="button" class="mud-button-root mud-button mud-button-outlined mud-button-outlined-secondary mud-button-outlined-size-small mud-ripple" blazor:onclick:stoppropagation="" blazor:elementreference="">
        <span class="mud-button-label">Following</span>
      </button>
    </div>
  </div>
  <div class="mud-card-content">
    <div class="mud-grid mud-grid-spacing-xs-0 mud-grid-justify-xs-space-around">
      <div class="mud-grid-item">
        <div class="mud-avatar mud-avatar-medium mud-theme-default extra-large">T</div>
      </div>
      <div class="mud-grid-item d-flex align-center">
        <h6 class="mud-typography mud-typography-h6 mud-inherit-text">TEST</h6>
      </div>
      <hr class="mud-divider mud-divider-flexitem mud-divider-vertical">
      <div class="mud-grid-item mud-grid-item-xs-6 d-flex  justify-center align-center">
        <div class="mud-grid mud-grid-spacing-xs-0 mud-grid-justify-xs-space-around">
          <div class="mud-grid-item">
            <h6 class="mud-typography mud-typography-h6 mud-inherit-text">5 Followers</h6>
          </div>
          <div class="mud-grid-item">
            <span class="mud-rating-root">
              <span class="mud-rating-item mud-ripple mud-ripple-icon mud-secondary-text mud-readonly">
                <svg class="mud-icon-root mud-svg-icon mud-inherit-text mud-icon-size-large" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                </svg>
              </span>
              <span class="mud-rating-item mud-ripple mud-ripple-icon mud-secondary-text mud-readonly">
                <svg class="mud-icon-root mud-svg-icon mud-inherit-text mud-icon-size-large" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                </svg>
              </span>
              <span class="mud-rating-item mud-ripple mud-ripple-icon mud-secondary-text mud-readonly">
                <svg class="mud-icon-root mud-svg-icon mud-inherit-text mud-icon-size-large" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
                </svg>
              </span>
              <span class="mud-rating-item mud-ripple mud-ripple-icon mud-secondary-text mud-readonly">
                <svg class="mud-icon-root mud-svg-icon mud-inherit-text mud-icon-size-large" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
                </svg>
              </span>
              <span class="mud-rating-item mud-ripple mud-ripple-icon mud-secondary-text mud-readonly">
                <svg class="mud-icon-root mud-svg-icon mud-inherit-text mud-icon-size-large" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
                </svg>
              </span>
            </span>
          </div>
          <div class="mud-grid-item">
            <p class="mud-typography mud-typography-body1 mud-inherit-text">Out of 2456 reviews</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>