
<div class="mud-paper mud-elevation-1 mud-card" style="">
  <div class="mud-card-header">
    <div class="mud-card-header-content">
      <span class="mud-skeleton mud-skeleton-text mud-skeleton-pulse" style="width:40%;"></span>
    </div>
    <div class="mud-card-header-actions">
      <span class="mud-skeleton mud-skeleton-rectangle mud-skeleton-pulse" style="width:100px;height:24px;;"></span>
    </div>
  </div>
  <div class="mud-card-content">
    <div class="mud-grid mud-grid-spacing-xs-0 mud-grid-justify-xs-space-around">
      <div class="mud-grid-item">
        <span class="mud-skeleton mud-skeleton-circle mud-skeleton-pulse extra-large" style=""></span>
      </div>
      <div class="mud-grid-item d-flex align-center">
        <span class="mud-skeleton mud-skeleton-rectangle mud-skeleton-pulse" style="width:75px;"></span>
      </div>
      <hr class="mud-divider mud-divider-flexitem mud-divider-vertical">
      <div class="mud-grid-item mud-grid-item-xs-6 d-flex  justify-center align-center">
        <span class="mud-skeleton mud-skeleton-rectangle mud-skeleton-pulse" style="width:100%;height:100%;"></span>
      </div>
    </div>
  </div>
</div>